/* Formulários
------------------------------------------------------------*/

.form .controls {
	position: relative;	
}

.form .controls > .label,
.form .controls > .badge {
	position: absolute;
	top: 0;
	right: 0;
	padding: 2px 6px;
	font-size: 9px;
}

.form .required-label {
	color: #B94A48;
	font-weight: bold;
	font-size: 20px;
}

.form .btn {
	font-weight: bold;
	text-transform: uppercase;
}

.form .alert {
	padding: 8px 14px;
}