
@import url("bootstrap.min.css");
@import url("tools.css");
@import url("forms.css");

/* Carrega as fontes 
------------------------------------------------------------*/

@font-face {
    font-family: "OfficinaSerifOSITCTT";
    src: url('OfficinaSerifOSITCTT.eot');
    src: url('OfficinaSerifOSITCTT.eot?#iefix') format('embedded-opentype'),
         url('OfficinaSerifOSITCTT.woff') format('woff'),
         url('OfficinaSerifOSITCTT.ttf') format('truetype'),
         url('OfficinaSerifOSITCTT.svg#OfficinaSerifOSITCTT') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Geral 
------------------------------------------------------------*/

h1, h2, h3 {
	font-family: "OfficinaSerifOSITCTT", Georgia, Arial, Helvetica, sans-serif;
	font-weight: normal;
}

h1 {
	line-height: 30px;
}

h2 {
	line-height: 24px;
	color: #666;
}

h3 {
	line-height: 18px;
	color: #999;
}

a {
	color: #20407E;
}

a:hover {
	color: #0092E0;
	text-decoration: none;
}

/* Layout 
------------------------------------------------------------*/

body {
	background: #B8BABD url(../img/body.jpg) no-repeat top center;
}

body > .container,
body > .container > .container {
	width: 980px;
}

body > .container > .container > .container {
	width: 940px; /* + padding = 980px */
	padding: 0 20px;
	background: #FFF;
}

/* Aplicável a monitores de alta resolução e browser recentes. */

@media (min-width: 1070px) {
	body > .container {
		width: 1040px;
		padding-left: 30px;
		background: url(../img/body-container-left.png) no-repeat center left;
	}
	body > .container > .container {
		width: 1010px;
		padding-right: 30px;
		background: url(../img/body-container-right.png) no-repeat center right;
	}
}


/* Cabeçalho 
------------------------------------------------------------*/

#header {
	min-height: 200px;	
	background: url(../img/header.png) no-repeat 95% top;
}

#header .logo {
	float: left;
	margin: 66px 30px 0;
}

/* Banners 
------------------------------------------------------------*/

#banners {
	margin: 0 -15px 5px;
	min-height: 130px;	
}

/* Menu Principal 
------------------------------------------------------------*/

#mainmenu {
	min-height: 64px;
	margin: 0 -15px 40px;
	background-color: #20407E;
}

#mainmenu .nav {
	margin: 0 20px;
}

#mainmenu .nav::after {
	clear: both;
	display: table;
	content: "";
}

#mainmenu .nav > li {
	float: left;
	padding: 26px 0;
	line-height: 12px;
}

#mainmenu .nav > li.active {
	background: url(../img/mainmenu-li-active.png) no-repeat top center;
}

#mainmenu .nav > li > a {
	padding: 0 10px 0 14px;
	font-size: 11px;
	font-weight: bold;
	color: #FFF;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	border-right: 1px solid #fff;
}

#mainmenu .nav li:last-child > a {
	border-right: none;
}

#mainmenu .nav > li > a:hover {
	background: none;
}

/* Principal 
------------------------------------------------------------*/

#main {
	min-height: 290px;
	margin: 0 -15px;
	padding-top: 10px;
	background: #FFF url(../img/main.png) no-repeat;	
}

/* Rodapé
------------------------------------------------------------*/

#footer {
	margin: 40px 0 50px;
	padding-left: 100px;
	color: #888;
}

/* Mapa 
------------------------------------------------------------*/

#mapa img {
	max-width: none;
}

/* Lista de Clientes 
------------------------------------------------------------*/

.clientes {
	margin: 0;
	list-style: none;
}

.clientes > li {
	float: left;
	margin: 0 14px 18px 0;
	border: 1px solid #ccc;
}

/* Galeria de imagens 
------------------------------------------------------------*/

.gallery.carousel {
	width: 440px;
	padding: 15px 15px 20px;
	background: #EEE url(../img/gallery.png) no-repeat bottom center;
}

.gallery .carousel-control {
	width: 48px;
	height: 48px;
	background: transparent url(../img/carousel-controls.png) no-repeat ;
	border: none;
}

.gallery .carousel-control {
	width: 48px;
	height: 48px;
	left: 20px;
	top: 50%;
	margin-top: -24px;
	background: transparent url(../img/carousel-controls.png) no-repeat bottom;
	border: none;
	opacity: 0;
	text-indent: -9999px;
}

.gallery .carousel-control.right {
	left: auto;
	right: 20px;
	background: transparent url(../img/carousel-controls.png) no-repeat top;
}

.gallery .carousel-control:hover {
	opacity: 0;
}

.gallery.carousel:hover .carousel-control {
	opacity: 1;	
}

.gallery .carousel-pagination {
	margin: 30px auto -30px;
	text-align: center;
}

.gallery .carousel-pagination > a {
	display: inline-block;
	width: 16px;
	height: 15px;
	background: url(../img/carousel-pagination.png) no-repeat;
	text-indent: -9999px;
}

.gallery .carousel-pagination > a:hover {
	background-position: 0 -30px;
}

.gallery .carousel-pagination > a.pagination-active {
	background-position: 0 -15px;
}

.gallery .carousel-caption {
	bottom: 25px;
	padding: 14px 20px 7px;
  	background: rgba(0, 0, 0, 0.55);
}

.gallery .carousel-caption p {
	margin-bottom: 7px; 
}
