/* CSS Tools
------------------------------------------------------------*/

.br {
	display: block;
	margin: 0 0 9px;
}

.br:after {
	clear: both;
	display: table;
	content: "";
}

.br2 {
	margin: 0 0 18px;	
}

.br3 {
	margin: 0 0 27px;	
}

.br4 {
	margin: 0 0 36px;	
}

.br5 {
	margin: 0 0 48px;	
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-primary {
	color: #20407E;
}

.text-upper {
	text-transform: uppercase;
}

.no-bg {
	background: none !important;
}

.btn-primary {
	background-color: #20407E;
	color: white;
	background-image: -moz-linear-gradient(top, #587BBB, #20407E);
	background-image: -ms-linear-gradient(top, #587BBB, #20407E);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#587BBB), to(#20407E));
	background-image: -webkit-linear-gradient(top, #587BBB, #20407E);
	background-image: -o-linear-gradient(top, #587BBB, #20407E);
	background-image: linear-gradient(top, #587BBB, #20407E);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'587bbb, endColorstr='#'20407e, GradientType=0);
	border-color: #04C #04C #002A80;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
	background-color: #20407E;
}
